extends index
block sub_item02
    a.active.sub.item(href="/deacons") 부장 집사
block sub_content
    div.main.ui.container
        div.ui.segment
            h3.ui.dividing.header 부장 집사
                div.sub.header 신반포 중앙교회 청년부의 멘토이자 뒤에서 이끌어 주시는 집사님들
            div.ui.accordion
                each chargeName, i in order
                    if datas[chargeName]
                        if (i == 0)
                            div.active.title
                                div.ui.blue.tag.label
                                    i.dropdown.icon 
                                    |#{chargeName}
                                strong &nbsp;&nbsp;&nbsp;&nbsp;#{datas[chargeName].name}
                            div.active.content
                                - var data = datas[chargeName]; 
                                include big_profile_template
                        else
                            div.title
                                div.ui.blue.tag.label
                                    i.dropdown.icon 
                                    |#{chargeName}
                                strong &nbsp;&nbsp;&nbsp;&nbsp;#{datas[chargeName].name}
                            div.content
                                - var data = datas[chargeName]; 
                                include big_profile_template
                        