extends layout
block script
	block script_part01
		script(type="text/javascript", src="javascript/templates.js")
		script(type="text/javascript", src="javascript/runtime.js")
		script.
			function AddMemberButton() {
				$('.ui.modal')
					.modal({
						closable 	: false,
						onDeny 		: function () {
							//- window.alert('Wait not yet!');
							PlusAddMember();
							return false;
						},
						onApprove 	: function () {
							var $getAdd = $('#addMember');
							$('#addMember').ajaxSubmit({
								error: function (xhr) {
									alert('등록 실패했습니다.');
								},
								success: function (response) {
									alert('등록 성공했습니다.');
								}
							});
							//- window.alert('Approved!');
						}
					});
				$('.ui.modal')
					.modal('show');
					
				$('.ui.form')
					.form({
						on: 'blur',
						fields: {
							add_name: {
								identifier  : 'add_name',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeName: {
								identifier  : 'add_chargeName',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeGroup: {
								identifier  : 'addchargeGroup',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							},
							add_chargeYear: {
								identifier  : 'add_chargeYear',
								rules: [{
									type   : 'empty',
									prompt : 'Please enter a value'
								}]
							}
					}});
			}
			
			var addMemberNumber = 1;
			function PlusAddMember () {
				var bmNumber = addMemberNumber;
				var innerText = "";
				var lastGroup = "";
				var lastYear = "";
				for (var i = 0; i < bmNumber; i++) {
					var index = "add_name[" + i + "]";
					var index2 = "add_chargeName[" + i + "]";
					var index3 = "add_chargeGroup[" + i + "]";
					var index4 = "add_chargeYear[" + i + "]";
					
					var getData = {};
					getData.num = i;
					getData.name = document.getElementsByName(index)[0].value;
					getData.chargeName = document.getElementsByName(index2)[0].value;
					getData.chargeGroup = document.getElementsByName(index3)[0].value;
					getData.chargeYear = document.getElementsByName(index4)[0].value;
					
					lastGroup = getData.chargeGroup;
					lastYear = getData.chargeYear;
					if (i == 0)
						innerText += window.addMember_template(getData);
					else
						innerText += window.addMember_second(getData);
				}
				document.getElementById("addMember").innerHTML = innerText + window.addMember_second({
					num: bmNumber,
					name: '',
					chargeName: '',
					chargeGroup: lastGroup,
					chargeYear: lastYear
				});
				$('.ui.modal')
					.modal('hide');
				$('.ui.modal')
					.modal('show');
				
				addMemberNumber++;
				
			}
			
	block script_part02
block header_item01
	a.main.item.active(href="/")
		i.home.icon
		|Home  
block content
	div.ui.secondary.pointing.menu
		div.ui.container
			block sub_item01
				a.sub.item(href="/") 청년부 목사
			block sub_item02
				a.sub.item(href="/") 부장 집사
			block sub_item03
				a.sub.item(href="/") 임원
			block sub_item04
				a.sub.item(href="/teamleader") 팀장
			block sub_item05
				a.sub.item(href="/branchleader") 브랜치 리더
			block sub_item06
				a.sub.item(href="/") 그외 사역자
			div.ui.right.small.menu
				button.ui.blue.primary.labeled.icon.button(onclick="AddMemberButton()")
					i.user.icon 
					|Add Member
	block sub_content
	block modal_content
	div.ui.modal
		i.close.icon 
		div.header Add Member 
		div.ui.content
			form#addMember.ui.fluid.form(action="/addCharge" method="post")
				div.four.fields
					div.field
						label 이름
						input(name="add_name[0]", placeholder="이름", type="text")
					div.field
						label 직책
						input(name="add_chargeName[0]", placeholder="직책", type="text")
					div.field
						label 소속
						input(name="add_chargeGroup[0]", placeholder="소속", type="text")
					div.field
						label 년도
						input(name="add_chargeYear[0]", placeholder="년도", type="text")
		div.actions 
			div.ui.black.deny.button
				i.plus.center.icon
				|등록 맴버 추가
			div.ui.positive.right.labeled.icon.button 등록
				i.checkmark.icon