extends layout

block content
	//- script(src="/javascript/menu.js")
	div.ui.secondary.pointing.menu
		a.item.active Home
		a.item Messages
		a.item Friends
		//- div.right.menu
		//- 	a.ui.item Logout
	div.ui.segment
		p abcd
	
	
	//- div.ui.grid
	//- 	div.four.wide.column
	//- 		div.ui.vertical.fluid.tabular.menu
	//- 			a.item.active Bio
	//- 			a.item Pics
	//- 			a.item Companies
	//- 			a.item Links
	//- 	div.twelve.wide.stretched.column
	//- 		div.ui.segment
	//- 			This is an stretched grid column. This segment will always match the tab height

	//- h1= title
