doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    title= title
    block css
      link(rel='stylesheet' type='text/css' href='/css/style.css')
      link(rel='stylesheet' type='text/css' href='/javascript/dist/semantic.min.css')
    block js
      script(src='/javascript/jquery-1.12.4.min.js')
      script(src="http://malsup.github.com/jquery.form.js") 
      script(src='/javascript/dist/semantic.js')
      script(src='/javascript/main.js')

      if ENV_DEVELOPMENT
        //- script(src='http://localhost:3000/livereload.js')
    
    script.
      $(document).ready(function(){
        $('.right.menu.open').on("click",function(e){
            e.preventDefault();
            //- $('.ui.vertical.menu').toggle();
            $('.ui.sidebar')
            .sidebar('toggle');
        });
            
        $('.ui.dropdown').dropdown();
      });
    block script
    
    block style
      style.
        .secondary.menu {
          margin-top: 5em;
        }
        .fitImg{
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          object-fit: contain;
        }
        
        .outImg {
          width:100%;
          height:240px;
        }
        
        .filebox.upload label {
          text-align: center;
          background-color: #fdfdfd;
          width:100%;
        }

        table.profile tr td div.ui.input input {
          max-width:100px; 
          max-height:30px; 
          border:0px; 
          text-align:center; 
          padding-bottom:0px; 
          padding-top:0px; 
          padding-right:0px;
          padding-left:0px;
        } 

        table.bank tr td div.ui.input input {
          max-width:70px; 
          max-height:30px; 
          border:0px; 
          text-align:center; 
          padding-bottom:0px; 
          padding-top:0px; 
          padding-right:0px;
          padding-left:0px;
        } 

        table tr td div.menu {
          padding-top:0px; 
          padding-bottom:0px;
          padding-right:0px; 
          padding-left:0px;
        }

        table tr td div.ui.selection.dropdown {
          min-width:110px; 
          padding-right:0px; 
          padding-left:0px; 
          border:0px;  
          padding-bottom:0px;
          text-align:center;
        }

        table tr td div.ui.selection.dropdown div.menu div.item {
          padding-top:0px; 
          padding-bottom:0px; 
          padding-right:0px; 
          padding-left:0px;
          min-width:100px; 
          max-height:30px;
          text-align:center;
        }

        table tr td.center.aligned {
          padding-top:0px;
          padding-bottom:0px;
          padding-right:0px; 
          padding-left:0px;
        }

        div.ui.container h3 div.ui.celled.list div.item div.content div.ui.input input {
          width:100%; 
          max-height:30px; 
          border:0px; 
          padding-bottom:0px; 
          padding-top:0px; 
          padding-right:0px;
          padding-left:0px; 
          color:gray; 
          font-size:14pt; 
          font-weight:bold
        }
        
        div.item div.content {
          width:100%;
        }

        div.item div.content div div.ui.input {
          width:100%;
        }

        /* 파일 필드 숨기기 */
        #uploadInput.filebox[type="file"] {  
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip:rect(0,0,0,0);
          border: 0;
        }
        
        .ui.grid.main{
          margin-top: 60px;
        }

        .mobile.row{
          padding-top: 10px !important;
          margin-top: 0px !important;
        }

        .mobile.row .ui.inverted.menu{
          border-radius: 0px !important;
        }

        .padding-reset{
          padding: 0px !important;
        }

        .ui.secondary.pointing.menu.navbar.grid.tablet.only.row {
          margin-top: 0px !important;
        }

        .ui.message{
          padding: 40px !important;
        }
        
        .vertical.sidebar.menu {
          margin-top: 60px !important;
          padding-bottom: 65px !important;
        }

        @media (max-width: 767px) {
            .ui.grid.main{
              margin-top: 70px;
            }

            .ui.grid { margin:  0 !important; }

            .vertical.sidebar.menu {
              margin-top: 60px !important;
              padding-bottom: 65px !important;
            }

            .ui.main.container {
              margin-top: 50px;
            }

            .ui.cards {
              margin-top: 0px;
            }

            td {
              font-size: 70%;
            }
            th {
              font-size: 70%;
            }
        }

  body
    block header
        div.ui.grid
            div.computer.only.row
                div.ui.inverted.fixed.menu.navbar.page.grid
                    header.item
                      img.logo(src="/public/img/logo.png")
                      | <p> <span style="color:olive"> &nbsp;&nbsp; 대한예수교장로회 </span><br/>
                      | &nbsp; 신반포 중앙교회 청년부 </p>
                    block header_item01
                      a.main.item(href="/")
                        i.home.icon
                        |Home  
                    block header_item02
                      a.main.item(href="/branch")
                        i.grid.layout.icon 
                        |Branches
                    block header_item03
                      a.main.item(href="/friends")
                        i.child.icon 
                        |Friends
                    block header_item04
                      div.ui.dropdown.item
                        i.tasks.icon 
                        |Tasks
                        i.dropdown.icon
                        div.menu
                          a.item(href="/bank") 회계
                          a.item(href="/bankList") 기타
                    div.right.menu
                        block header_setting
                          a.ui.main.item(href="/setting")
                            i.settings.icon  
                            |Setting
                        if isLogin
                          a.ui.main.item(href="/auth/logout")
                            i.sign.out.icon  
                            |Logout
                        else
                          a.ui.main.item(href="/auth/login?ret=#{base}")
                            i.sign.in.icon  
                            |Login
            div.mobile.tablet.only.row
                div.ui.left.inverted.vertical.thin.sidebar.menu
                    div.main.item(href="/")
                      i.home.icon
                      |Home
                      div.menu
                        a.item(href="/") 청년부 지도자 
                        a.item(href="/deacons") 부장 집사
                        a.item(href="/executives") 임원
                        a.item(href="/teamleader") 팀장
                        a.item(href="/branchleader") 브랜치 리더
                        a.item(href="/services/유치부") 유치부 교사
                        a.item(href="/services/유년부") 유년부 교사
                        a.item(href="/services/초등부") 초등부 교사
                        a.item(href="/services/중고등부") 중고등부 교사
                        a.item(href="/services/글로리아 찬양대") 글로리아 찬양대
                        a.item(href="/services/할렐루야 찬양대") 할렐루야 찬양대
                    block header_item02
                      a.main.item(href="/branch")
                        i.grid.layout.icon 
                        |Branchs
                    block header_item03
                      a.main.item(href="/friends")
                        i.child.icon 
                        |Friends
                    div.main.item(href="/bank")
                      i.tasks.icon
                      |Tasks
                      div.menu
                        a.item(href="/bank") 회계 
                        a.item(href="/bankList") 기타
                    block header_setting
                      a.ui.main.item(href="/setting")
                        i.settings.icon  
                        |Setting
                    if isLogin
                      a.ui.main.item(href="/auth/logout")
                        i.sign.out.icon  
                        |Logout
                    else
                      a.ui.main.item(href="/auth/login?ret=#{base}")
                        i.sign.in.icon  
                        |Login
                div.ui.top.fixed.inverted.navbar.menu 
                    a.brand.item 
                      img.logo(src="/public/img/logo.png")
                      | <p> <span style="color:olive"> &nbsp;&nbsp; 대한예수교장로회 </span><br/>
                      | &nbsp; 신반포 중앙교회 청년부 </p>
                    div.right.menu.open 
                        a.menu.item 
                            i.content.icon
                //- div.pusher
                //-   div.ui.page.grid.main
                //-     div.row
                //-         div.column.padding-reset
                //-           block content
    div.pusher.ui.page.grid.main
        div.row
            div.column.padding-reset
              block content
