<div class="image outImg" style="background-color:#e5e5e5">
    <% if (photo) %>
        <img class="fitImg" src="<%= photo %>"></img>
    <% else %>
        <img class="fitImg" src="/public/img/image.png"></img>
</div>
<div class="content">
    <a class="header"> <%= name %> </a>
    <div class="meta">
        <span class="date"> <%= birthYear %>.<%= birthMonth %>.<%= birthDay %> </span>
    </div>
    <table class="ui small table">
        <tr>
            <td> 성별 </td>
            <td> <%= gender %> </td>
        </tr>
        <tr>
            <td> 브랜치 </td>
            <td> <%= branch %> </td>
        </tr>
        <tr>
            <td> 전화번호 </td>
            <td> <%= phone %> </td>
        </tr>
        <tr>
            <td> 출석빈도 </td>
            <td> <%= attend %> </td>
        </tr>
        <tr>
            <td> 성격 </td>
            <td> <%= tension %> </td>
        </tr>
        <tr>
            <td> 비고사항 </td>
            <td> <%= attendDesc %> </td>
       </tr>
    </table>
</div>