extends layout  
block header_setting
    a.ui.main.item.active(href="/setting")
        i.settings.icon  
        |Setting
block content
    div.ui.secondary.pointing.menu
        div.ui.container
            a.active.sub.item 내 프로필
            a.sub.item 설정
    div.main.ui.container
        div.two.column.grid
            div.column
                include big_profile