extends setting
block sub_item01
    a.active.sub.item(href="/setting/nolink") 임시창
block sub_item02
block sub_item03
block sub_item04
block sub_content
    div.main.ui.container
        div.ui.raised.segment
            h4.ui.header 알림사항
            p 현재 이 아이디는 신반포 중앙교회 청년부의 맴버로 확인되지 않았기 때문에 기능이 제한됩니다. 
            p 빠른 확인을 원한다면 개발자 혹은 관리자에게 직접 연락하시기 바랍니다. 
            p 현 개발자/관리자: 이제희