extends setting
block sub_item04
    a.active.sub.item(href="/setting") 권한
block sub_content
    div.main.ui.container
        div.two.column.grid
            div.column
                include big_profile_template