extends setting
block sub_item01
    a.active.sub.item(href="/setting") 프로필
block sub_content
    div.main.ui.container
        div.two.column.grid
            div.column
                include big_profile_template