extends layout
block header_setting
    a.ui.main.item.active(href="/setting")
        i.settings.icon  
        |Setting
block content
    div.ui.secondary.pointing.menu
        div.ui.container
            block sub_item01
                a.sub.item(href="/setting") 프로필
            block sub_item02
                a.sub.item(href="/setting/amend") 설정
            block sub_item03
                a.sub.item(href="/setting/secret") 비밀창
    block sub_content
    block modal_content