extends setting
block script
    script.
        function Delete(key, member, target, relation) {
            var data = {
                key: key,
                member: member,
                target: target,
                relation: relation
            }

            $.ajax({
                url: "/delete/" + relation,
                type: "post",
                data: data,
                dataType: "json",
                success: function(data) {
                    console.log("success");
                    var alertString = data.target + "님이 목록에서 제거되었습니다."
                    alert(alertString);
                },
                error: function(request) {
                    alert("실패");
                }
            });
        }

        function Insert(relation) {
            var getID = "#insert_" + relation;
            $(getID).ajaxSubmit({
                success: function(data) {
                    console.log("success");
                    var alertString = data.target + "님이 목록에 추가되었습니다."
                    alert(alertString);
                },
                error: function(request) {
                    alert("실패");
                }
            });
        }
block sub_item03
    a.active.sub.item(href="/setting/secret") 비밀창
block sub_content
    div.main.ui.container
        div.ui.raised.segment
            include detailProfile_template